In [ ]:
from data.load_data import load_raw_data

df = load_raw_data()

In [14]:
df.columns.tolist()

['CustomerID',
 'Count',
 'Country',
 'State',
 'City',
 'Zip Code',
 'Lat Long',
 'Latitude',
 'Longitude',
 'Gender',
 'Senior Citizen',
 'Partner',
 'Dependents',
 'Tenure Months',
 'Phone Service',
 'Multiple Lines',
 'Internet Service',
 'Online Security',
 'Online Backup',
 'Device Protection',
 'Tech Support',
 'Streaming TV',
 'Streaming Movies',
 'Contract',
 'Paperless Billing',
 'Payment Method',
 'Monthly Charges',
 'Total Charges',
 'Churn Label',
 'Churn Value',
 'Churn Score',
 'CLTV',
 'Churn Reason']

In [9]:
df.dtypes

CustomerID               str
Count                  int64
Country                  str
State                    str
City                     str
Zip Code               int64
Lat Long                 str
Latitude             float64
Longitude            float64
Gender                   str
Senior Citizen           str
Partner                  str
Dependents               str
Tenure Months          int64
Phone Service            str
Multiple Lines           str
Internet Service         str
Online Security          str
Online Backup            str
Device Protection        str
Tech Support             str
Streaming TV             str
Streaming Movies         str
Contract                 str
Paperless Billing        str
Payment Method           str
Monthly Charges      float64
Total Charges         object
Churn Label              str
Churn Value            int64
Churn Score            int64
CLTV                   int64
Churn Reason             str
dtype: object

In [16]:
df["Churn Label"].value_counts(normalize = True)

Churn Label
No     0.73463
Yes    0.26537
Name: proportion, dtype: float64

In [ ]:
df.head()

   CustomerID  Count  ...  CLTV                   Churn Reason
0  3668-QPYBK      1  ...  3239   Competitor made better offer
1  9237-HQITU      1  ...  2701                          Moved
2  9305-CDSKC      1  ...  5372                          Moved
3  7892-POOKP      1  ...  5003                          Moved
4  0280-XJGEX      1  ...  5340  Competitor had better devices

[5 rows x 33 columns]